@font-face {
  font-family: mulish;
  src: url("./Mulish-Regular.ttf");
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  font-family: "mulish";
  min-height: 100vh;
  margin: 0;
}

.main-section {
  height: 100vh;
}

.section {
  height: 80vh;
  background-color: white;
}

.topbar_inner {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}

.menu {
  display: flex;
  align-items: center;
  width: 90%;
}

.menu #list {
  display: none;
}

#list .list-hide {
  padding: 0;
  opacity: 1;
  height: 0;
}

.menu a {
  float: left;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  top: 50%;
}

.menu a.hamburger-inner {
  float: right;
}

.menu a:hover {
  color: #ff4522;
}

.menu .logo {
  color: black;
  font-size: 1.7rem;
  display: block;
  flex: 1;
}

.hamburger-inner {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.left {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left .name {
  color: #ff4522;
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.left .job {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 1000;
  padding-top: 0;
  margin-top: 0;
}
@-webkit-keyframes bounce-down {
  25% {
    -webkit-transform: translateY(-10px);
  }
  50%, 100% {
    -webkit-transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(10px);
  }
}
@keyframes bounce-down {
  25% {
    transform: translateY(-10px);
  }
  50%, 100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
}
.left .animate-bounce-down {
  position: absolute;
  bottom: 4rem;
  -webkit-animation: bounce-down 1.5s linear infinite;
  animation: bounce-down 1.5s linear infinite;
}
.left .animate-bounce-down svg {
  width: 3.5rem;
  fill: black;
}

.right {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}
.right .image {
  width: 350px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transform: rotate(8deg);
  font-size: 0;
  display: flex;
  justify-content: center;
  border-radius: 12px;
}
.right .image .photo {
  width: 350px;
}
.right .white-card {
  margin-left: -2rem;
  position: absolute;
  background-color: #ff4522;
  width: 340px;
  height: 490px;
  transform: rotate(-15deg);
  transform-origin: 100% 100%;
  border-radius: 12px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service li {
  margin: 1rem 0;
  font-size: 1.1rem;
}
.service li svg {
  vertical-align: middle;
}
.service li:hover {
  color: #ff4522;
}
.service li:hover svg {
  transform: rotate(-45deg);
  transform-origin: 35% 50%;
  transition-duration: 0.3s;
}

.short_info {
  display: flex;
}
.short_info h3 {
  font-size: 2.5rem;
  font-weight: 800;
}
.short_info li {
  float: left;
  display: inline;
  margin-right: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.short_info span {
  color: #7a8695;
  padding-left: 1rem;
}

#portfolio {
  height: 80vh;
  background-color: white;
  display: flex;
  align-items: flex-start;
  align-items: center;
  padding-left: 17%;
}
#portfolio .title {
  height: 10vh;
  background-color: antiquewhite;
}
#portfolio .portfolio-list {
  height: 60vh;
  background-color: aquamarine;
}

#skills {
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
